* {
     margin: 0;
     padding: 0;
 } 
:root {
    --font-family-: "Jost", Sans-Serif
}
body {
    background: rgb(24,9,31);
    background: linear-gradient(180deg, rgba(24,9,31,1) 0%, rgba(133,55,182,1) 100%);
}
header {
    position: absolute;
    width: 100%;
    height: 10rem;
    
}
.content-h {
    color: white;
    font-family: var(--font-family-);
    
}
.content-h ul {
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    font-size: 3.3rem;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0 7rem;
}
.content li {
    width: 10rem;
    

}
.content-h img {
    width: 8rem;
}



main {
    width: 100%;
    height: 60rem;
}


